#container {
    display: flex;
    flex-direction: column;
    width: 20%;
    text-align: center;
}

.displayedWord {
    border: solid black 1px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 5px;
}

.wellPlaced {
    border: solid black 1px;
    background-color: red;
    color: white;
}

.missPlaced {
    border: solid black 1px;
    background-color: yellow;
    color: black;
}

.notInWord {
    border: solid black 1px;
    background-color: blue;
    color: white;
}